// =============================================================================
// TYPE (CSS)
// =============================================================================

// Stencil type component additions
// -----------------------------------------------------------------------------


body {
    font-size: $body-fontSize;
    font-weight: $body-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $header-font-weight;
    margin-top: $heading-marginTop;
}

h5,
h6 {
    text-transform: $heading-textTransform;
}

a {
    transition: $anchor-transition;
}

cite {
    line-height: $blockquote-cite-lineHeight;
    margin: $blockquote-cite-margin;
}

.page-heading {
    margin: 0 0 spacing("double");
    text-align: center;
}

h1 {
    font-size: $h1-font-size;
    font-family: $fontFamily-headings-h1;
}

h2 {
    font-size: $h2-font-size;
    font-family: $fontFamily-headings-h2;
}

h3 {
    font-size: $h3-font-size;
    font-family: $fontFamily-headings-h3;
    text-transform: uppercase;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

.definitionList {
    @include clearfix;
}

.definitionList-key {
    color: stencilColor("color-textSecondary");
    float: left;
    font-weight: fontWeight("normal");
    margin: 0 spacing("quarter") 0 0;
}

.definitionList-value {
    margin: 0;
}
