// =============================================================================
// FORMS (CSS)
// =============================================================================


// Select boxes
// -----------------------------------------------------------------------------

.form-select {
    appearance: none;
    background-image: $select-backgroundImage;
    background-position: $select-backgroundPosition;
    border-radius: $select-borderRadius;
    padding: $select-padding;
    color: #000;
    &:hover {
        border-color: $select-hover-borderColor;
    }
}


// Form labels
// -----------------------------------------------------------------------------

.form-label {
    small {
        float: $opposite-direction;
        margin-top: $form-label-small-marginTop;
    }
}


// Form labels (inline small text)
// -----------------------------------------------------------------------------

.form-label--inlineSmall {
    small {
        color: stencilColor("color-textSecondary");
        float: none;
        font-size: inherit;
        font-weight: fontWeight("normal");
        margin-left: spacing("quarter");
        text-transform: none;
    }
}
.form-input{
    &:disabled{
        color: $input-font-color;
        background-color: inherit;
    }
    background-color: inherit;
}
