// =============================================================================
// MODAL (CSS)
//
// // 1. Fix for content shifted to top in modal window when bottom variant option selected
// =============================================================================

.modal {
    left: 50%;
    margin: 0;
    max-height: 90%;
    max-width: 95%;
    min-height: 240px;
    outline: none;
    overflow: hidden;
    padding: 0;
    top: 50% !important;
    transform: translate(-50%, -50%);
    background: linear-gradient(stencilColor("quick-view-background-from"), stencilColor("quick-view-background-to"));

    .form-field {
        position: relative; // 1
    }
}

.modal--large {
    @include breakpoint("large") {
        width: $modal-width--large;
    }
}

.modal-header {
    padding-left: $reveal-modal-paddingHorizontal;
    padding-right: remCalc($reveal-close-height) + $reveal-close-side;
}

.modal-header-title {
    font-size: fontSize("large");
    text-align: center;

    @include breakpoint("medium") {
        font-size: stencilNumber("fontSize-Add-to-Cart-confirmation-page");
    }
}

.modal-close {
    @include square($reveal-close-height);

    @include addFocusTooltip;
    color: stencilColor("icon-color");
    font-size: 26px;
    line-height: remCalc($reveal-close-height);
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        font-size: 32px;
    }

    &:hover {
        color: stencilColor("icon-color-hover");
    }
}

.modal-body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: $reveal-modal-padding;
}

.modal--alert {
    background-color: $alert-modal-bgColor;
    border-radius: $alert-modal-borderRadius;
    font-family: $alert-font-body;
    padding: 40px 20px 20px;
    text-align: center;

    .modal-content {
        color: $alert-font-bodyColor;
        font-size: $alert-font-bodySize;
    }

    .button-container {
        margin: $alert-button-wrapperMargin;

        .confirm {
            background-color: $alert-button-bgColor;
            border-color: $alert-button-borderColor;
            color: $alert-button-color;
        }

        .confirm:focus,
        .confirm:hover {
            background-color: $alert-button-bgColorHover;
            border-color: $alert-button-borderColorHover;
            color: $alert-button-colorHover;
        }

        .confirm:active {
            background-color: $alert-button-bgColorActive;
            border-color: $alert-button-borderColorActive;
            color: $alert-button-colorActive;
        }
    }
}

.hide-content {
    opacity: 0;
}
